body {
    margin: 0;
}

#logo {
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
}

nav {
    text-align: center;
    height: 50px;
}

nav a {
    display: inline-block;
}

button {
    vertical-align: top;
    margin: 12px 5px;
}

h1 {
    margin-top: 70px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

h2 {
    margin-top: 60px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.nav-buttons {
    display: inline-block;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin: 0;
    padding: 0 10px;
    height: 50px;
    vertical-align: top;
}

.nav-button {
    width: 60px;
    height: 50px;
    display: inline-block;
    margin: 15px 5px;
    vertical-align: middle;
    color: #888;
}

.nav-button span {
    top: 50%;
    left: 50%;
}

.transparent-button {
    background-color: transparent;
}

.part-transp-white {
    background: rgba(255, 255, 255, 0.5);
}

.part-transp-black {
    background: rgba(0, 0, 0, 0.15);
}

.online {
    background: #e95899 no-repeat url("img/bkgnd.jpg") center center;
}

.online,
.mission,
.students,
.prospective,
.partners,
.progress {
    height: 280px;
    background-color: cadetblue;
    padding: 100px 0;
    text-align: center;
    width: 100%;
}

.mission {
    background-color: #fcf9f4;
}

.students {
    background-color: #91d0b1;
}

.prospective {
    background-color: #ffcd62;
}

.partners {
    background-color: #80a8cc;
}

.progress {
    background-color: #fcf9f4;
}

/*
.center-buttons{
	margin: 0 auto;	
}*/

.donate{
    width: 115px;
    height: 25px;
    color: black;
    font-weight: bold;
}

.no-border{
    border: none;
}

.yellow-btn{
    background-color: #ffcd62;
    color: black;
}

.vertical-center {
    vertical-align: middle;
}

.image-div {
    width: 200px;
    margin: 20px;
}

button {
    width: 175px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

footer p{

}

footer {
    height: 60px;
    background-color: #4d4e59;
    text-align: center;
    padding-top: 30px;
}

p{
    color: white;
    margin: 0px;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.black{
    color: black;
}

.forty {
    display: inline-block;
    width: 39%;
    /*padding: 10px;*/
}

.sixty {
    display: inline-block;
    width: 59%;
    /*padding: 30px;*/
}

.thirty {
    display: inline-block;
    width: 240px;
    height: 230px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 30px;
}

.dots-column {
    display: inline-block;
    width: 50px;
}

.dot {
    height: 0px;
    width: 0px;
    border-radius: 7px;
    border: 7px solid #87c2a5;
    margin: 7px 20px;
}

.selected{
    border-color: #ffffff;
}

.progress h2{
    margin-top: 0px;
}

#hours,
#hours p{
    color: #91d0b1;
}

#sessions,
#sessions p{
    color: #ffcd62;
}

#volunteers,
#volunteers p{
    color: #80a8cc;
}

.progress h3{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}